*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
}

div {
  display:block;
}
h1 {
  font-style: arial black;
  text-align: center;
  padding-top: 300px;
}
.navbar {
  position: fixed;
  z-index: 100;
  width:100%;
  display:table;
  background-color: black;
  padding-top: 50px;
  opacity: 0.7;
  /*font-family: proximanovalight, Arial, Verdana, sans-serif;
  			background-color: black;
        opacity: 0.6;
  			border-left: solid 1px grey;
        padding-top: 50px;
  			padding: 5px;
  			padding-right: 50px;
      		font-size: 16px;
      		font-style: normal;
      		font-weight: 300;
      		line-height: -10;*/

}
.navbar ul {
  width:30em;
  display:block;
  margin:0 auto;
  padding:0.5em 0;
  float: right;
  text-decoration: none;
  list-style-type:none;
}
.navbar ul li {
  width:10em;
  text-decoration: none;
  display:inline-block;
  float: right;
  padding:0.5em;
  text-align:center;
  font-family: proximanovalight, Arial, Verdana, sans-serif;
  color: white;
}
.hero{
  position: relative;
  background: url('http://i.imgur.com/2vqFDJe.jpg?1') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  /*height: 500px;
  /*max-height: 600px;*/
  /*max-width:100%;*/
  height:700px;
  width:100%;
  padding-bottom:40%;
  padding-top: 0;
  margin: 0;
  opacity: 0.8;
}
.logo {
  width: 70%;
  margin: 0 auto;
  background: url('http://i.imgur.com/2cSoC7D.jpg?1') no-repeat center center;
  background-size: contain;
  /*position:relative;*/
  /*background: no-repeat center center;
  background-attachment: fixed;
  background-position: center;
  /*background-size: contain;*/
  /*height: 500px;
  /*max-height: 600px;*/
  /*max-width:100%;*/
  height:700px;
  padding-bottom:42.85714%;
  padding-top: 0;
  opacity: 1;
}
.opengarage {
  position: relative;
  background: url('http://i.imgur.com/neW4OS0.jpg?1') no-repeat center center;
  background-size: cover;
  height: 710px;
  width: 100%;
  outline: 1px solid black;
  padding-bottom:41.67391%;
  opacity: 0.7;
}
.kegs {
  position: relative;
  background: url('http://i.imgur.com/V32VrWw.jpg') no-repeat center center;
  background-size: cover;
  height: 710px;
  width: 100%;
  outline: 1px solid black;
  padding-bottom:41.67391%;
  opacity:0.6;
}
.wrapper {
  width: 100%;
  margin: 0 auto;

}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

/*.beers {
  height:200px;
  width:100%;
}
.ipa {
  text-decoration: none;
  display:inline;
  background: url('http://i.imgur.com/393E2vvm.png?1') no-repeat;
}
.mild{
text-decoration: none;
display:inline;
}
.ordinary {
text-decoration: none;
display:inline;
}
.porter {
text-decoration: none;
display:inline;
}
.premium {
text-decoration: none;
display:inline;
}
.stout {
text-decoration: none;
display:inline;
}
.summer {
text-decoration: none;
display:inline;
}*/
#map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40%;
}
