.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  background-color: rgb(253,249,243);
  width: 100%;
}
div {
  display:block;
}
h1 {
  font-style: arial black;
  text-align: center;
  padding-top: 300px;
  margin: 0;
  padding: 0;
}
a {
  color: white;
  text-decoration: none;
  }
  a:visted {
  color: white;
  text-decoration: none;
  }

  a:hover {
  color: rgb(153,101,21);
	text-decoration: underline;
	}

	a:focus {
	color: white;
	text-decoration: none;
	}

	a:active {
	color: white;
	text-decoration: none;
	}
.emptytop {
  height: 700px;
  width: 100%;
}
.navbar {
  position: fixed;
  z-index: 100;
  width:100%;
  display:table;
  background-color: black;
  padding-top: 22px;
  opacity: 0.81;
}
.navbar ul {
  width:30em;
  display:block;
  margin:0 auto;
  padding:1em 0;
  float: right;
}
.navbar ul li {
  width:5em;
  display:inline-block;
  padding:0;
  text-align:center;
  font-family:Anton, sans-serif;
  color: white;
}
.hero{
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.123), rgba(255,255,255,0.123)), url('http://i.imgur.com/RyXAGXk.jpg?1');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  /*parallax*/
  background-size: cover;
  /*height: 500px;
  /*max-height: 600px;*/
  /*max-width:100%;*/
  height:700px;
  width:100%;
  padding-bottom:40%;
  padding-top: 0;
  margin: 0;
  //opacity: 0.8;
}

.location {
  float: right;
}
.logo {
  width: 70%;
  margin: 0 auto;
  background: url('http://i.imgur.com/kN3fdT2.png?1') no-repeat center center;
  background-size: contain;
  position:relative;
  /*position:relative;*/
  /*background: no-repeat center center;
  background-attachment: fixed;
  background-position: center;
  /*background-size: contain;*/
  /*height: 500px;
  /*max-height: 600px;*/
  /*max-width:100%;*/
  height:700px;
  padding-bottom:42.85714%;
  padding-top: 0;
  display: none;
}
.logo1 {
  width: 70%;
  margin: 0 auto;
  background: url('http://i.imgur.com/2cSoC7D.png?1') no-repeat center center;
  background-size: contain;
  position:relative;
  /*position:relative;*/
  /*background: no-repeat center center;
  background-attachment: fixed;
  background-position: center;
  /*background-size: contain;*/
  /*height: 500px;
  /*max-height: 600px;*/
  /*max-width:100%;*/
  height:700px;
  padding-bottom:42.85714%;
  padding-top: 0;
  display:none;
  z-index: 10000;
}
.opengarage {
  position: relative;
  background: url('http://i.imgur.com/neW4OS0.jpg?1') no-repeat center center;
  background-size: cover;
  height: 710px;
  width: 100%;
  outline: 1px solid black;
  padding-bottom:41.67391%;
}
.quote {
  font-family: Anton;
  height: 100px;
  width: 100%;

}
.empty {
  height: 53px;
  width: 100%;
}
.kegs {
  position: relative;
  background: url('http://i.imgur.com/V32VrWw.jpg') no-repeat center center;
  background-size: cover;
  height: 500px;
  width: 100%;
  outline: 1px solid black;
  padding-bottom:41.67391%;
  margin-top:45%;
  opacity:0.8;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}
/*#dudes {
  background: url('http://i.imgur.com/mUhXnDL.jpg?1') no-repeat center center;
  position: relative;
  background-size: cover;
  height: 550px;
  width: 100%;
  outline: 1px solid black;
  /*padding-bottom: 41.67391;*/
  opacity:0.7;
}*/
.brew {
  text-align: center;
}
.names {
  font-family: archivo narrow;
  text-align: center;
  font-size: 57px;
  height: 90px;
  width: 95%;
}
.gold {
  color: rgb(153,101,21);
  font-size: 65px;
}


.aboutdesc {
  float: left;
  width: 100%;
  padding-left: 0px;
  padding-top: 0%;
}
.brewagraph {
  text-align: justify;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 50px;
  font-family: archivo narrow;
  text-rendering: geometricPrecision;
}
#beers {
  height: 710px;
  width: 100%;
}
.brewline1 {
  font-family: archivo narrow;
  font-weight:bold;
  padding: 0;
  margin: 0;
  letter-spacing: 5px;
  text-decoration: overline;
  font-size: 35px;
}
.brewline {
  font-family: archivo narrow;
  font-weight:bold;
  padding: 0;
  margin: 0;
  letter-spacing: 5px;
  /*text-decoration: underline;*/
  font-size: 60px;
  margin:0;
  padding: 0;
}
.beer-description {
  float: left;
  font-family: archivo narrow;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-left: 30px;
}
.descriptions{
  font-family: Open Sans Condensed;
  font-size: 16px;
  margin-top: 0;
}
p {
  float: left;
  width: 30%;
  padding-left: 30px;
}
li {
  list-style-type: none;

}
hr {
  width: 97%;
  margin-right: 40px;
}
.beerfo {
  width: 296px;
  float: left;
  font-size: 16px;
  font-family: archivo narrow;
  color: rgb(153,101,21);
}
.beerme {
  font-size: 40px;
  margin: 0;
  /*text-decoration: overline;*/
}
/*.special {
  float: left;
  margin-bottom:8%;
  font-family: Open Sans Condensed;
}
#specialty {
  color: rgb(153,101,21);
  width:100%;
  height:5%;
}*/
.beer-image--ipa {
  background: url('http://i.imgur.com/393E2vv.png?1');
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 30%;
  margin-left: 805px;
}
.beer-image--tripel {
  background: url('http://i.imgur.com/SWDSouD.png?1');
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 30%;
  margin-left: 805px;
}
.beer-image--esb {
  background: url('http://i.imgur.com/Q90PTXr.png?1');
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 30%;
  margin-left: 805px;
}
.beer-image--mild {
  background: url('http://i.imgur.com/8Ms6Xbx.png?1');
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 30%;
  margin-left: 805px;
  /* try margin-left: 810px was 700px; */
}
.beer-image--ordinary {
  background: url('http://i.imgur.com/EDuvTVS.png?1');
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 30%;
  margin-left: 805px;
}
.beer-image--porter {
  background: url('http://i.imgur.com/FZClLX9.png?1');
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 30%;
  margin-left: 805px;
}
.beer-image--premium {
  background: url('http://i.imgur.com/zJswZon.png?1');
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 30%;
  margin-left: 805px;
}
.beer-image--stout {
  background: url('http://i.imgur.com/XOwhhWI.png?1');
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 30%;
  margin-left: 805px;
}
.weather {
  text-align: center;
  font-family: "Archivo Narrow";
}
#map {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.emptybottom {
  width: 100%;
  height: 30px;
}

.theguys {
  font-family: archivo narrow;
  text-align: center;
  font-size: 40px;
  height: 90px;
  width: 300px;
}
.golden {
  color: rgb(153,101,21);
  font-size: 50px;
}
.tyler {
  background-image: url('http://i.imgur.com/u9usKwb.jpg?1');
  height:403px;
  width: 21%;
  float:left;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 5%;
}
.thomas {
  background-image: url('http://i.imgur.com/mbTU9iK.jpg');
  height:403px;
  width: 21%;
  float:right;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: auto;
  margin-right: 5%;
}
.layerover {
  border: 2px solid rgb(192, 177, 162);
  width: 75%;
  height: 30em;
  /* color: black; */
  background-color: rgba(0, 0, 0, 0.47);

}
.contacts {
  background-image: url('http://i.imgur.com/mUhXnDL.jpg?1');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 48em;
  padding-left: 20%;
}
.c-email {
  font-family: archivo narrow;
  font-size: 35px;
  margin-left: 10%;
  color: black;
}
.qi{
  font-family: archivo narrow;
  font-size: 20px;
  color: black;
  float: right;
  margin-top: 8%;
}



























/*500 pixel screen*/


@media (max-width: iphone6) {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    margin:0;
    padding:0;
    background-color: rgb(253,249,243);
  }

  /*could be the problem*/
  div {
    display:block;
  }
  h1 {
    font-style: arial black;
    text-align: center;
    padding-top: 100px;
    /*or 300px?*/
  }
  a {
    color: white;
    text-decoration: none;
    }

    a:visted {
    color: white;
    text-decoration: none;
    }

    a:hover {
    color: rgb(153,101,21);
  	text-decoration: underline;
  	}

  	a:focus {
  	color: white;
  	text-decoration: none;
  	}

  	a:active {
  	color: white;
  	text-decoration: none;
  	}
  .navbar {
    position: fixed;
    width:100%;
    display:inline-flex;
    background-color: black;
    padding-top: 0;
    opacity: 0.81;
  }
  .navbar ul {
    width:28.5em;
    display:block;
    margin:0 auto;
    padding:3.3em;
    float: right;
  }
  .navbar ul li {
    width:4em;
    display:inline-block;
    padding:0;
    text-align:center;
    font-family:'Anton', sans-serif;
    color: white;
  }
  .hero{
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.123), rgba(255,255,255,0.123)),linear-gradient(to bottom, rgba(30,5,0,0.55), rgba(20,30,5,0.55)), url('http://i.imgur.com/RyXAGXk.jpg?1');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    /*background-size: contain;*/
    /*height: 500px;
    /*max-height: 600px;*/
    /*max-width:100%;*/
    /*height:500px;*/
    width:100%;
    padding-bottom:40%;
    padding-top: 0;
    margin: 0;
    opacity: 0.8;
  }

  .location {
    float: right;
  }
  .logo {
    width: 80%;
    margin: 0 auto;
    background: url('http://i.imgur.com/2cSoC7D.jpg?1') no-repeat center center;
    background-size: contain;
    position:relative;
    height:700px;
    padding-bottom:42.85714%;
    padding-top: 0;
    opacity: 1;
    display:none;
  }
  .opengarage {
    position: relative;
    background: url('http://i.imgur.com/neW4OS0.jpg?1') no-repeat center center;
    background-size: contain;
    height: 210px;
    width: 100%;
    padding-bottom:41.67391%;
    opacity: 0.7;
  }
  /*.empty {
    height: 53px;
    width: 100%;
  }*/
  .kegs {
    position: relative;
    background: url('http://i.imgur.com/V32VrWw.jpg') no-repeat center center;
    background-size: contain;
    height: 340px;
    width: 100%;
    outline: 1px solid black;
    padding-bottom:41.67391%;
    opacity:0.6;
    box-shadow: 5px 10px 25px;
  }
  .wrapper {
    width: 100%;
    margin: 0 auto;

  }
  .dudes {
    background: url('http://i.imgur.com/mUhXnDL.jpg?1') no-repeat center center;
    position: relative;
    background-size: contain;
    height: 335px;
    width: 100%;
    padding-bottom: 41.67391;
    opacity:0.7;
    color: white;
    weight: bold;
  }
  #beers {
    height: 710px;
    width: 100%;
  }

  .beer-image--ipa {
    background: url('http://i.imgur.com/393E2vv.png?1');
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 96%;
    margin-left: 250px;
  }
  .beer-image--tripel {
    background: url('http://i.imgur.com/SWDSouD.png?1');
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 96%;
    margin-left: 250px;
  }
  .beer-image--esb {
    background: url('http://i.imgur.com/Q90PTXr.png?1');
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 96%;
    margin-left: 250px;
  }
  .beer-image--mild {
    background: url('http://i.imgur.com/8Ms6Xbx.png?1');
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 40%;
    margin-left: 250px;
  }
  .beer-image--ordinary {
    background: url('http://i.imgur.com/EDuvTVS.png?1');
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 40%;
    margin-left: 250px;
  }
  .beer-image--porter {
    background: url('http://i.imgur.com/FZClLX9.png?1');
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 40%;
    margin-left: 250px;
  }
  .beer-image--premium {
    background: url('http://i.imgur.com/zJswZon.png?1');
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 40%;
    margin-left: 250px;
  }
  .beer-image--stout {
    background: url('http://i.imgur.com/XOwhhWI.png?1');
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 40%;
    margin-left: 250px;
  }
  #weather {
    text-align: center;
    font-family: Anton;
  }
  #map {
    margin-left: auto;
    margin-right: auto;
  }
